.wrapper p, h1 {
    color: white;
    margin-top: 15px;
    margin-bottom: 5px;
  }
  
  .intro h1, h2 {
    color: transparent;
    background-image: -webkit-linear-gradient(100deg, #2ecc71, #3498db, #9b59b6, #f39c12);
    background-image: -moz-linear-linear-gradient(100deg, #2ecc71, #3498db, #9b59b6, #f39c12);
    background-image: linear-gradient(100deg, #2ecc71, #3498db, #9b59b6, #f39c12);
    background-clip: text;
    -webkit-background-clip: text;
    animation: chroma 10s ease-in-out infinite;
    -webkit-animation: chroma 10s ease-in-out infinite;
    -moz-animation: chroma 10s ease-in-out infinite;
    -o-animation: chroma 10s ease-in-out infinite;
    -ms-animation: chroma 10s ease-in-out infinite;
    background-size: 500%;
    -webkit-background-size: 500%; 
  }
  
  .wrapper h6 {
    color: gray;
    font-size: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  
  
  .wrapper {
    transition-duration: 0.5s;
    pointer-events: none;
    animation: fadeIn 0.4s;
    -webkit-animation: fadeIn 0.4s;
    -moz-animation: fadeIn 0.4s;
    -o-animation: fadeIn 0.4s;
    -ms-animation: fadeIn 0.4s;
    width: 380px;
    z-index: 100;
    background-color: rgba(255, 255, 255, .10);  
    backdrop-filter: blur(5px);
    border-radius: 4px;
    position:absolute;
    padding: 30px 30px 30px 30px;
    display: block;
    box-sizing: border-box;
    top: 50%;
    left: 50%; 
    margin: -185px 0 0 -190px;
    text-align: center;
  }
  
  @media only screen and (max-width: 693px){
    .wrapper {
        width: 300px;
        margin: -210px 0 0 -150px;
    }
  }
  
  
  @media only screen and (max-height: 500px){
    .wrapper {
      width: 800px;
      margin: -145px 0 0 -400px;
    }
  }

  
  code {
    font-family: monospace;
    color:rgb(255, 83, 112);
    font-size: 125%;
  }
  
  .socials {
    margin-top: 15px;
    transition-duration: 0.5s;
    pointer-events:all;
  }

  
  .socials a {
    transition-duration: 0.5s;
    opacity: 0.5;
  }
  
  .twitter-logo {
  margin-right: 15px;
  }
  
  .github-logo {
  margin-right: 15px;
  }
  
  .discord-logo {
    margin-right: 0px;
  }
  
  .twitter-logo:hover {
    opacity: 1;
  }
  
  .github-logo:hover {
    opacity:1;
  }
  
  .discord-logo:hover {
    opacity:1;
  }

  /* keyframes */

  @keyframes chroma {
    0% {
      background-position: 0 100%;
    }
    50% {
      background-position: 100% 0;
    }
    100% {
      background-position: 0 100%;
    }
  }
  
  @-moz-keyframes chroma {
    0% {
      background-position: 0 100%;
    }
    50% {
      background-position: 100% 0;
    }
    100% {
      background-position: 0 100%;
    }
  }
  
  @-webkit-keyframes chroma {
    0% {
      background-position: 0 100%;
    }
    50% {
      background-position: 100% 0;
    }
    100% {
      background-position: 0 100%;
    }
  }
  
  @-o-keyframes chroma {
    0% {
      background-position: 0 100%;
    }
    50% {
      background-position: 100% 0;
    }
    100% {
      background-position: 0 100%;
    }
  }
  
  @-ms-keyframes chroma {
    0% {
      background-position: 0 100%;
    }
    50% {
      background-position: 100% 0;
    }
    100% {
      background-position: 0 100%;
    }
  }

  @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @keyframes fadeOut {
    0% {opacity:1;}
    100% {opacity:0;
    }
  }
  
  @-moz-keyframes fadeOut {
    0% {opacity:1;}
    100% {opacity:0;}
  }
  
  @-webkit-keyframes fadeOut {
    0% {opacity:1;}
    100% {opacity:0;}
  }
  
  @-o-keyframes fadeOut {
    0% {opacity:1;}
    100% {opacity:0;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }