* {
    cursor: url('../images/cursor.png') 10 10, auto;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    color: white;
}

#body { 
    background-color: rgb(16, 16, 16);
}

/* width */
::-webkit-scrollbar {
    width: 5px;
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
    background: #000000;
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.475);
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
    background: #555;
    }

    /*  */

   
      
      footer {
        margin-top: 20px;
        text-align: center;
        padding: 20px 40px;
        background-color: black;
        text-decoration: none;
      }
      
      footer a {
        text-decoration: none;
        color: white;
      }
      
      footer a:hover {
        color: grey;
      }
      
      .npb {
        padding-bottom: 0px !important; 
      }

      /*  */

      /* .wrapper {
    height: 100vh;
    width: 100vw;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.08);  
    backdrop-filter: blur(5px);
    position:absolute;
    pointer-events: none;
} */



.about {
    color: white;
    padding: 5rem 0 2rem 0;
    /* text-align: center; */
    /* margin: 0 5vw 0 5vw; */
    margin: auto;
    width: 50%;

    /* padding: 10px; */
}

@media only screen and (max-width: 1200px){
    .about {
        margin: auto;
        width: 80%;
    }
}

@media only screen and (max-width: 693px){
    .about {
        margin: auto;
        width: 85%;
    }
}

.about h3 {
    padding: 1.5rem 0 1.5rem 0;
    font-weight: 400;
}

.card {
    border-radius: 3px;
    border: 1px solid gray;
    padding: 1.5rem;
    margin-top: 2rem;
}

.card a {
    float: right;
    text-decoration: none;
    color: white;
    margin-left: 10px;
    opacity: 0.5;
}

.card a:hover {
    opacity: 1;
}

.card h6 {
    color: gray;
}

.card p, h6 {
    margin-top: 0.5rem;
}

.about h1, h2 {
    background: #0563F1;
    background: -webkit-linear-gradient(to right, #5698fc 0%, #ff00ee 50%);
    background: -moz-linear-gradient(to right, #5698fc 0%, #ff00ee 50%);
    background: linear-gradient(to right, #5698fc 0%, #ff00ee 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* .contact {
    animation: fadeIn 0.4s;
    -webkit-animation: fadeIn 0.4s;
    -moz-animation: fadeIn 0.4s;
    -o-animation: fadeIn 0.4s;
    -ms-animation: fadeIn 0.4s;
    width: 50%;
    z-index: 100;
    background-color: rgba(255, 255, 255, .10);  
    backdrop-filter: blur(5px);
    border-radius: 4px;
    padding: 30px 30px 30px 30px;
    display: block;
    box-sizing: border-box;
    margin: auto;
    text-align: center;
  } */