.about {
    line-height: 1.7;
    transition-duration: 0.5s;
    color: white;
    padding: 2rem 2.1rem 2rem 2.1rem;
    margin: 0 auto;
    max-width: 69rem;
    transition-duration: 0.5s;
}

.back {
    transition-duration: 0.5s;
    max-width: 80rem;
    padding: 4rem 0rem 0rem 2.1rem;
    margin: 0 auto;
}


@media only screen and (max-width: 1000px){
    .about {
        max-width: 62rem;
        padding-top: 2rem;
    }
    /* .back {
        max-width: 64rem;
        padding: 4rem 0rem 0rem 2.1rem;
    } */
} 

.about h3 {
    padding: 1.5rem 0 1.5rem 0;
    font-weight: 400;
}

.about h1, h2 {
    background: #0563F1;
    background: -webkit-linear-gradient(to right, #5698fc 0%, #ff00ee 50%);
    background: -moz-linear-gradient(to right, #5698fc 0%, #ff00ee 50%);
    background: linear-gradient(to right, #5698fc 0%, #ff00ee 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
