.aurora h1 {
    font-size: 3.2rem;
    color: transparent;
    background-image: -webkit-linear-gradient(100deg, #2ecc71, #3498db, #9b59b6, #f39c12);
    background-image: -moz-linear-linear-gradient(100deg, #2ecc71, #3498db, #9b59b6, #f39c12);
    background-image: linear-gradient(100deg, #2ecc71, #3498db, #9b59b6, #f39c12);
    background-clip: text;
    -webkit-background-clip: text;
    animation: chroma 10s ease-in-out infinite;
    -webkit-animation: chroma 10s ease-in-out infinite;
    -moz-animation: chroma 10s ease-in-out infinite;
    -o-animation: chroma 10s ease-in-out infinite;
    -ms-animation: chroma 10s ease-in-out infinite;
    background-size: 500%;
    -webkit-background-size: 500%; 
}



.about {
    line-height: 1.7;
    transition-duration: 0.5s;
    color: white;
    padding: 2rem 2.1rem 2rem 2.1rem;
    margin: 0 auto;
    max-width: 60rem;
    transition-duration: 0.5s;
}

.back {
    transition-duration: 0.5s;
    max-width: 70rem;
    padding: 4rem 0rem 0rem 2.1rem;
    margin: 0 auto;
    opacity:0.75;
}

.back:hover {
    opacity:1;
}

@media only screen and (max-width: 1000px){
    .about {
        max-width: 62rem;
        padding-top: 2rem;
    }
} 

.about h3 {
    padding: 1.5rem 0 1.5rem 0;
    font-weight: 400;
}

.about h2 {
    font-size: 1.7rem;
    background: #0563F1;
    background: -webkit-linear-gradient(to right, #5698fc 0%, #ff00ee 50%);
    background: -moz-linear-gradient(to right, #5698fc 0%, #ff00ee 50%);
    background: linear-gradient(to right, #5698fc 0%, #ff00ee 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
