.secret {
    transition-duration: 0.5s;
    color: white;
    padding: 3rem 0 2rem 0;
    /* text-align: center; */
    /* margin: 0 5vw 0 5vw; */
    margin: auto;
    width: 50%;

    /* padding: 10px; */
}

@media only screen and (max-width: 1200px){
    .secret {
        margin: auto;
        width: 80%;
    }
}

@media only screen and (max-width: 693px){
    .secret {
        margin: auto;
        width: 85%;
    }
}

.secret h3 {
    padding: 1.5rem 0 1.5rem 0;
    font-weight: 400;
}


.secret h1, h2 {
    background: #0563F1;
    background: -webkit-linear-gradient(to right, #5698fc 0%, #ff00ee 50%);
    background: -moz-linear-gradient(to right, #5698fc 0%, #ff00ee 50%);
    background: linear-gradient(to right, #5698fc 0%, #ff00ee 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#home {
    border: none;
    background: rgb(170, 0, 255);
    border-radius: 4px;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 15px 0px 50px 0px;
    transition-duration: 0.7s;
    color: white;
    margin: 15px 100px 0 0;
    position: relative;
}
  
#home:hover {
    background: rgba(217, 0, 255, 0.71);
}

img {
    max-width: 45%; 
    height: auto;
  }